:root {
    --primary-color: rgb(0, 102, 17);
    --primary-color-darker:  rgb(1, 5, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    align-content:center;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.container {
    align-content: center;
    max-width: 640px;
    margin: 50px auto;
    background: #fffaf3;
    padding: 50px;
    border-radius: 10px;
    
}

form input, form label, form button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

form input {
    font-size: 24px;
height: 40px ;
padding: 0 20px;
}

form input :focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;

}

form button:hover {
    background: var (--primary-color-darker);
}

.paragrafo-resultado {
    background: #c2b506;
    padding: 10px 20px;
}

.paragrafo-resultado-errado{
    align-content: center;
    background: #c53737;
    padding: 10px 20px;
}